<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>todo</title>
  </head>
  <body>
    

    <div id="appNew">
    	<h1 v-if="number === 1 && 2 > 1">H1: {{ header }}</h1>
    	<h2 v-if="number === 2">H2: {{ header }}</h2>
    	<h3 v-else>H3: {{ header }}</h3>
    </div>

    <script>
    	
    	var appNew = new Vue({
    		el:  '#appNew',
    		data: {
    			header: "This is my header data",
    			number: 1
    		}
    	});


    </script>
  </body>
</html>
